<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Chat</title>
</head>
<body>
    To join a room, add <a href="/room/your-room-name">"/room/your-room-name"</a> at the end of the url.
</body>
</html>