<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{path}} chat.</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
    <h2>{{path}} room.</h2>
    <input type="text" placeholder="your name" id="your_name">
    </header>
    <div id="message_container">
    </div>
    <footer>
        <div contenteditable="true" id="typing"></div> <input type="button" value="send" id="send">
    </footer>
    <script src="/main.js"></script>
</body>

</html>